<%= form_for :order, :url => populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_header_product_cart_form">
    <% if @featured_product.price_in(current_currency) and !@featured_product.price.nil? %>
      <div data-hook="header_product_price">
        <div class="add-to-cart">
          <%= hidden_field_tag (@featured_product.variants_and_option_values.any? ? :quantity : "variants[#{@featured_product.master.id}]"),
            1, :class => 'title', :min => 1 %>
          <%= button_tag :class => 'btn btn-primary btn-lg', :id => 'add-to-cart-button', :type => :submit do %>
            <%= Spree.t(:buy_now) %>
          <% end %>
        </div>
      </div>
    <% else %>
        <div id="product-price">
          <div>
            <span class="price selling" itemprop="price">
              <%= Spree.t('product_not_available_in_this_currency') %>
            </span>
          </div>
        </div>
    <% end %>    
  </div>
<% end %>